/* TEMPLATE STYLES */


/* Necessary for full page carousel*/

html,
body {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

footer.page-footer {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}


/* Carousel*/

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("https://images8.alphacoders.com/564/564997.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.carousel-item:nth-child(2) {
    background-image: url("http://i.imgur.com/Rvj8Xoc.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcjH7Y0zrFAw6OK32H4ByBTK3XKBmgscHXo2gFp5bhlVOXgIgC509DNqhaS0AgI4KZentOsPiNyhXTkihH_e6GS.rZ6bSvetpZOpdxeFt3Jr1FXumKeG6fkmAbGtEUcEtntj0qkjzBFIFIZOPWMmo0AaF9lTCWhEdpc8uptFo.rcY-&format=jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*Caption*/

.flex-center {
    color: #fff;
}